html, body {
    background-color: #21232A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 1rem;
}

button {
    padding: 1rem;
    margin-left: 2rem;
}

button:first-child {
    margin-left: 0;
}